doctype html
html(lang='en' data-bs-theme='dark')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='/btstrp/css/bootstrap.min.css' rel='stylesheet')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')
    // script(src='/popper/popper.js')
    // script(src='/btstrp/js/bootstrap.min.js')

    block meta

    block title
      title shitpostbot7777

    block scripts

    block styles
      link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css')

  body
    include _nav
    //- .container
    .container-fluid
      block main
