nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
  .container-fluid
    a.navbar-brand(href='/') shitpostbot7777
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ms-auto.mb-2.mb-lg-0
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') 
            | Gallery
          ul.dropdown-menu
            li
              a.dropdown-item(href='/gallery/template') Template
            li
              a.dropdown-item(href='/gallery/source') Source
            li
              hr.dropdown-divider
            li
              a.dropdown-item(href='/gallery/shitpost') Shitpost

        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') 
            | Upload
          ul.dropdown-menu
            li
              a.dropdown-item(href='/upload/template') Template
            li
              a.dropdown-item(href='/upload/source') Source
        li.nav-item
          a.nav-link(href='/shitpost') Shitpost
      //- form.d-flex(role='search')
        input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
        button.btn.btn-outline-success(type='submit') Search

