#successModal.modal(tabindex='-1' aria-labelledby='successModal' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#successModalLabel.modal-title Upload success!
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body.text-center
        img#successImg.img-fluid(src='http://placekitten.com/400/300')
      .modal-footer
        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') ok!
        a#successButton.btn.btn-primary(href='#' role='button') View Created
        // button.btn.btn-primary(type='button') Save changes

#failureModal.modal(tabindex='-1' aria-labelledby='failureModal' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        // h5#failureModalLabel.modal-title Upload failure!
        h3#failureStatus
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body.text-center
        // img#failureImg.img-fluid(src='http://placekitten.com/400/300')
      // .modal-footer
        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') ok!
        a#failureButton.btn.btn-primary(href='#' role='button') View Created
