extends _layout

block title
  title= `CHANGEME`

append styles
  style.
    .card-img-top {
      height: 100%;
      width: 100%;
      /*object-fit: cover;*/
      object-fit: contain;
    }

block main
  .row
    .col-6.col-md-4
      .h2= `${type.charAt(0).toUpperCase() + type.slice(1)} Gallery`
    .col-6.col-md-4
      +pagination

  .row
    each post in posts
      .col-6.col-sm-6.col-md-4.col-lg-3.col-xl-2.mb-3
        .card.h-100.border.border-1.border-info.rounded
          // img.card-img-top(src=`/img/${type == 'template'?'templateCrops':type}/${post.id}.png`)
          img.card-img-top(src=`/img/${type}/${post.id}.png`)
          .card-body.border-top.border-info
            h5.card-title= post.filename || `ㅤ`
            .card-text
              //- created
              //- p= `${type=='shitpost'?'Created':'Uploaded'} ${post.uploadedfmt}`
              // if (post.usage)
              //   p= `Used ${post.usages} times`
            .d-grid
              a.btn.btn-primary(href=`/view/${type}/${post.id}`) View

mixin pagination
  nav(aria-label='page number nav')
    ul.pagination.justify-content-center
      //- first page
      li.page-item(class=(+page == 1)?'disabled':'')
        a.page-link(href=`/gallery/${type}/` aria-label='First')
          //- i.bi.bi-arrow-left-square
          i.bi.bi-chevron-double-left
          //- span(aria-hidden='true') «

      //- previous page
      li.page-item(class=(+page < 2)?'disabled':'')
        a.page-link(href=`/gallery/${type}/${+page -1}` aria-label='Previous')
          //- span(aria-hidden='true')= (+page < 2)?'-':(+page -1)
          if (+page < 2)
            i.bi.bi-dash
          else
            span= +page -1

      //- current page
      li.page-item.disabled
        a.page-link(href='#' style='color: #0d6efd')= page

      //- next page
      li.page-item(class=(+page == numPages)?'disabled':'')
        a.page-link(href=`/gallery/${type}/${+page +1}` aria-label='Next')
          //- span(aria-hidden='true')= (+page == numPages)?'-':(+page +1)
          if (+page == numPages)
            i.bi.bi-dash
          else
            span= +page +1

      //- last page
      li.page-item(class=(+page == numPages)?'disabled':'')
        a.page-link(href=`/gallery/${type}/${+numPages}` aria-label='Last')
          //- i.bi.bi-arrow-right-square
          i.bi.bi-chevron-double-right
          //- span(aria-hidden='true') »
