extends _layout

include _util

append styles
  style.
    .viewAll {
      margin-left: .5em;
      font-size: .7em;
    }
    .vertical-center {
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .card-img-top {
      height: 100%;
      width: 100%;
      /*object-fit: cover;*/
      object-fit: contain;
    }

block main
  .row
    .col-12
      h1= `Home`

  each section in ['shitpost', 'source', 'template']
    if (posts[section])
      //- headings for section
      .row
        .col-6
          h4= section.charAt(0).toUpperCase() + section.slice(1)
        .col-6.text-end
          h3
            a.viewAll(href=`/gallery/${section}`)= 'View All '
              i.bi.bi-arrow-right-square.ms-2

      //- items in section
      .row
        each item in posts[section]
          .col-6.col-sm-6.col-md-4.col-lg-4.col-xl-2.mb-3
            .card.h-100.border.border-1.border-info.rounded
              img.card-img-top(src=`/img/${section}/${item.id}.png`)
              .card-body.border-top.border-info
                h5.card-title= item.filename || `ㅤ`
                .card-text
                  // - created
                  // - p= `${type=='shitpost'?'Created':'Uploaded'} ${post.uploadedfmt}`
                  // if (post.usage)
                    // p= `Used ${post.usages} times`
                .d-grid
                  a.btn.btn-primary(href=`/view/${section}/${item.id}`) View
