extends _layout

block title
  title Upload Source

block main
  //- TODO multi image upload?
  //- TODO show image

  .row
    .col-8.offset-2.border
      h1.text-center upload source image
      #imgPreviewContainer.text-center
        img.img-fluid(src='http://placekitten.com/300/300' id='imgPreview')

      input(type='file', id='imageInput', accept='image/*', onchange='document.getElementById("imgPreview").src = window.URL.createObjectURL(this.files[0])')

      h3 Source Name
      input(type='text', id='imageName', placeholder='my-cool-source')

      button#uploadSource.btn.btn-primary Upload Source

      button#clearFilename.btn.btn-danger(onclick='document.getElementById("imageName").value = ""') Clear Name


  // success modal
  // TODO add redirect
  include _successmodal.pug

  // success modal button for testing
  h2
    a(href='#' data-bs-toggle='modal' data-bs-target='#successModal') test success modal
  h2
    a(href='#' data-bs-toggle='modal' data-bs-target='#failureModal') test failure modal

  script(src='/js/source-creation.js')
