extends _layout

block scripts
  //- jcrop
  // TODO move to local host
  link(rel='stylesheet' href='https://unpkg.com/jcrop/dist/jcrop.css')
  script(src='https://unpkg.com/jcrop')

block main
  h1 upload template image

  #imgPreviewContainer
    img(src='' id='imgPreview')

  input(type='file', id='imageInput', accept='image/*', onchange='loadFile(event)')
  h3 Template Name
  input(type='text', id='imageName', placeholder='my-cool-template')

  button#clearFilename.btn.btn-danger(onclick='document.getElementById("imageName").value = ""') Clear Name
  button#cropAndUpload.btn.btn-primary Upload Template

    
  br

  // success modal
  // TODO add redirect
  include _successmodal.pug

  // success modal button for testing
  h2
    a(href='#' data-bs-toggle='modal' data-bs-target='#successModal') test success modal

  script(src='/js/template-creation.js')
