extends _layout

include _util

append meta
  - var pageTitle = metadata.filename??`${type} ${metadata.id} - shitpostbot7777`
  title= pageTitle
  - var filename = metadata.filename??`untitled ${type} #${metadata.id}`
  // meta(property='og:title' content=`${metadata.filename}`)
  meta(property='og:title' content=filename)
  meta(property='twitter:title' content=filename)
  meta(property='og:type' content='article')
  meta(property='og:description' content=`a fine ${type} on shitpostbot7777`)
  meta(property='twitter:description' content=`a fine ${type} on shitpostbot7777`)
  meta(property='og:site_name' content='shitpostbot7777.gamergirlpee.xyz')
  meta(property='og:url' content=`https://shitpostbot.gamergirlpee.xyz/view/${type}/${metadata.id}`)
  meta(property='og:image' content=`https://shitpostbot.gamergirlpee.xyz${imgPath}`)
  meta(property='twitter:image' content=`https://shitpostbot.gamergirlpee.xyz${imgPath}`)
  meta(property='og:image:type' content='image/png')
  //- meta(property='og:image:width' content='400')
  //- meta(property='og:image:height' content='300')
  //- meta(property='og:image:alt' content='A shiny red apple with a bite taken out')
  meta(name='twitter:card' content='summary_large_image')

//- append scripts
  script.
    function changeTemplateImg(opt){
      var imgSrc
      switch(opt) {
        case 'template':
          imgSrc = "/img/template/#{metadata.id}.png"
          break 
        case 'templateCrops':
          imgSrc = "/img/templateCrops/#{metadata.id}.png"
          break
      }
      document.getElementById("templateImg").src = imgSrc
    }


block main
  .container-xl
    .row
      // image
      .col-sm-6.order-sm-2
        h5.mt-4= `${type} #${metadata.id}`
        h1= metadata.filename
        h3= `uploaded: ${metadata.uploadedfmt}`
      .col-sm-6.order-sm-1
        // if (type=='template')
        //   ul#myTab.nav.nav-tabs(role='tablist')
        //     li.nav-item(role='presentation')
        //       button#contact-tab.nav-link(onclick='changeTemplateImg("template")') Template
        //     li.nav-item(role='presentation')
        //       button#contact-tab.nav-link(onclick='changeTemplateImg("templateCrops")') Crops
        img.img-fluid.border.border-2.border-info.rounded(src=imgPath style='max-height: 55vh')


    if (type == 'shitpost')
      .row.mt-4.mb-4
        // .col-sm-4.order-sm-2(class=(metadata.source_count == 1)?'col-sm-6':'col-sm-4')
        .col-sm-4.order-sm-2.mt-2
          h3 Templates:
          if metadata.template_filename
            .col-6.col-sm-12.col-lg-8.col-xl-6
              .card.h-100.border.border-1.border-info.rounded
                img.card-img-top(src=`/img/template/${metadata.template_id}.png`)
                .card-body.border-top.border-info
                  h5.card-title= metadata.template_filename || `ㅤ`
                  .card-text
                  .d-grid
                    a.btn.btn-primary(href=`/view/template/${metadata.template_id}`) View

        .col-sm-8.order-sm-1.mt-2
          h3= `Sources (${metadata.source_count}):`
          if metadata.source_count != 0
            .row
              each source in metadata.sources
                .col-6.col-md-4.col-lg-3
                  .card.h-100.border.border-1.border-info.rounded
                    img.card-img-top(src=`/img/source/${source.id}.png`)
                    .card-body.border-top.border-info
                      h5.card-title= source.filename || `ㅤ`
                      .card-text
                      .d-grid
                        a.btn.btn-primary(href=`/view/source/${source.id}`) View
    else
      .row.mt-4
        .col-12
          if (metadata.shitposts)
            h3= `Shitposts using this ${type} (${(metadata.shitposts).length}):`
            .row
              each shitpost in metadata.shitposts
                .col-6.col-sm-4.col-md-3.col-lg-2
                  .card.h-100.border.border-1.border-info.rounded
                    img.card-img-top(src=`/img/shitpost/${shitpost.id}.png`)
                    .card-body.border-top.border-info
                      h5.card-title= shitpost.filename || `ㅤ`
                      .card-text
                      .d-grid
                        a.btn.btn-primary(href=`/view/shitpost/${shitpost.id}`) View

    // .row.mt-4
    //   .col-sm-6
    //     h5.mt-4= `${type} #${metadata.id}`
    //     h1= metadata.filename
    //     each x,y in metadata
    //       h2= `${y}: ${x}`
